<template>
    <div :id="id" class="util-map"></div>
</template>

<script>

    export default {
        name: 'YaMap',
        props: {
            getMap: {
                type: Function,
                default: () => ymaps
            },
            objects: Object,
            options: Object,
        },
        data() {
            return {
                id: this.$attrs.id || (Math.random() * 100).toString().replace(/\./, ''),
                controls: [
                    'typeSelector',
                    // 'zoomControl',
                    // 'routePanelControl'
                ],
                map: null,
                mapObjects: {},
                mapPoints: {},
                iconOptions: {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: '',
                    // Размеры метки.
                    iconImageSize: [30, 30],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [0, 0]
                }
            }
        },
        computed: {
            maps() {
                return this.getMap()
            }
        },
        mounted() {
            setTimeout(() => {
                this.maps.ready(() => {
                    this.setup();
                    Object.keys(this.objects).forEach(id => {
                        this.addObject(id, this.objects[id]);
                        this.resolveMapObject(id)
                    })
                })
            }, 1000)
        },
        methods: {
            setup() {
                const options = {
                    controls: this.controls,
                    zoom: 7,
                };
                if (this.map !== null) {
                    this.destroyMapObjects();
                    this.map.destroy();
                }
                this.map = new this.maps.Map(this.id, Object.assign(options, this.options || {}));
                this.$emit('init', this);
                return this
            },
            reset() {
                const objects = {...this.mapObjects};
                this.setup();
                Object.keys(this.mapObjects).forEach(id => {
                    this.addObject(id, objects[id]);
                    this.resolveMapObject(id)
                })
            },
            getMapObject(id) {
                return this.mapObjects[id]
            },
            destroyMapObjects() {
                Object.keys(this.mapObjects).forEach(id => this.destroyObject(id))
            },
            addObject(id, params) {
                this.mapObjects[id] = {
                    lat: 0,
                    lon: 0,
                    ...params || {}
                };
            },
            destroyObject(id) {
                this.removePoint(id);
                this.$delete(this.mapObjects, id)
            },
            resolveMapObject(id) {
                const object = this.getMapObject(id);
                if (object && !this.getPoint(id) && object.lat !== 0 && object.lon !== 0) {
                    this.mapPoints[id] = this.addPoint(object, object.balloonContent)
                }
            },
            getPoint(id) {
                return this.mapPoints[id]
            },
            isPointInViewport(id) {
                if (!this.getPoint(id))
                    return false;
                let output;
                this.maps.geoQuery([this.getPoint(id)]).searchInside(this.map).each(o => output = o);
                return !!output
            },
            toPoint(id, params) {
                const object = this.getMapObject(id);
                if (!object)
                    return false;
                const lat = object.lat;
                const lon = object.lon;
                (!lat && !lon) || this.map.panTo([lat, lon], {flying: true, ...params || {}})
            },
            removePoint(id) {
                !this.mapPoints[id] || this.map.geoObjects.remove(this.mapPoints[id]);
                this.$delete(this.mapPoints, id);
            },
            getPointLocation(id) {
                const object = this.getMapObject(id);
                return [object.lat, object.lon]
            },
            getZoom() {
                return this.map.getZoom()
            },
            setPointZoom(id, zoom) {
                !this.getMapObject(id) || this.map.setCenter(this.getPointLocation(id), zoom)
            },
            addPoint(params, content) {
                params || (params = {});
                const point = new this.maps.Placemark([
                    params.lat,
                    params.lon
                ], content || {}, Object.assign({...this.iconOptions}, params));
                !params.click || point.events.add('click', e => params.click(e));
                !params.open || point.events.add('balloonopen', e => params.open(e));
                this.map.geoObjects.add(point);
                return point
            }
        },

    }

</script>
