@charset "UTF-8"

@font-face
    font-family: "SB Sans Display"
    font-weight: 400
    font-style: normal
    src: url(~@/assets/fonts/SBSansDisplay-Regular.eot)
    src: url('~@/assets/fonts/SBSansDisplay-Regular.woff2') format('woff2'),
    src: url('~@/assets/fonts/SBSansDisplay-Regular.woff') format('woff'),
    src: url('~@/assets/fonts/SBSansDisplay-Regular.ttf') format('truetype'),
    src: url('~@/assets/fonts/SBSansDisplay-Regular.svg#SBSansDisplay-Regular') format('svg'),
    src: url('~@/assets/fonts/SBSansDisplay-Regular.eot?#iefix') format('embedded-opentype')


@font-face
    font-family: "SB Sans Display"
    font-weight: 600
    font-style: normal
    src: url(~@/assets/fonts/SBSansDisplay-SemiBold.eot)
    src: url('~@/assets/fonts/SBSansDisplay-SemiBold.woff2') format('woff2'),
    src: url('~@/assets/fonts/SBSansDisplay-SemiBold.woff') format('woff'),
    src: url('~@/assets/fonts/SBSansDisplay-SemiBold.ttf') format('truetype'),
    src: url('~@/assets/fonts/SBSansDisplay-SemiBold.svg#SBSansDisplay-SemiBold') format('svg'),
    src: url('~@/assets/fonts/SBSansDisplay-SemiBold.eot?#iefix') format('embedded-opentype')



@font-face
    font-family: "SB Sans Display"
    font-weight: 700
    font-style: normal
    src: url(~@/assets/fonts/SBSansDisplay-Bold.eot)
    src: url('~@/assets/fonts/SBSansDisplay-Bold.woff2') format('woff2'),
    src: url('~@/assets/fonts/SBSansDisplay-Bold.woff') format('woff'),
    src: url('~@/assets/fonts/SBSansDisplay-Bold.ttf') format('truetype'),
    src: url('~@/assets/fonts/SBSansDisplay-Bold.svg#SBSansDisplay-Bold') format('svg'),
    src: url('~@/assets/fonts/SBSansDisplay-Bold.eot?#iefix') format('embedded-opentype')



::-webkit-input-placeholder 
    color: inherit
    opacity: 1
    -webkit-transition: all .4s ease
    transition: all .4s ease


:-moz-placeholder 
    color: inherit
    opacity: 1
    -webkit-transition: all .4s ease
    transition: all .4s ease


::-moz-placeholder 
    color: inherit
    opacity: 1
    -webkit-transition: all .4s ease
    transition: all .4s ease


:-ms-input-placeholder 
    color: inherit
    opacity: 1
    -webkit-transition: all .4s ease
    transition: all .4s ease


:focus::-webkit-input-placeholder 
    opacity: 0


:focus:-moz-placeholder 
    opacity: 0


:focus::-moz-placeholder 
    opacity: 0


:focus:-ms-input-placeholder 
    opacity: 0


blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul 
    margin: 0
    padding: 0


textarea 
    resize: none


table 
    border-collapse: collapse
    border-spacing: 0


abbr,
fieldset,
img 
    border: 0


address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var 
    font-style: normal
    font-weight: 400


ul li 
    list-style: none
    color: inherit


caption,
th 
    text-align: left


input,
select,
textarea 
    font-family: inherit
    font-size: inherit
    font-weight: inherit


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section 
    display: block


img 
    max-width: 100%
    height: auto


footer,
header,
section 
    min-width: 320px


.scrollTop,
.scrollto,
a,
button,
svg 
    -webkit-transition: all .3s ease
    transition: all .3s ease


a,
a:active,
a:focus,
a:hover,
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus 
    text-decoration: none
    outline: 0
    -webkit-tap-highlight-color: transparent
    -webkit-tap-highlight-color: transparent


.container,
.wrapper 
    position: relative


a 
    color: inherit


:after,
:before,
a,
button,
div,
footer,
form,
header,
input,
li,
nav,
p,
section,
ul 
    -webkit-box-sizing: border-box
    box-sizing: border-box


input:not([type=checkbox]):not([type=radio]),
select,
textarea 
    -webkit-appearance: none !important
    -moz-appearance: none !important
    appearance: none !important


input:invalid 
    -webkit-box-shadow: none
    box-shadow: none



input:-webkit-autofill 
    -webkit-box-shadow: 0 0 0 1000px white inset
    box-shadow: 0 0 0 1000px white inset



input:-webkit-autofill:hover,
input:-webkit-autofill:focus 
    -webkit-box-shadow: 0 0 0 1000px white inset
    box-shadow: 0 0 0 1000px white inset


footer input:-webkit-autofill 
    -webkit-box-shadow: none
    box-shadow: none



footer input:-webkit-autofill:hover,
footer input:-webkit-autofill:focus 
    -webkit-box-shadow: none
    box-shadow: none


button 
    border: none


html 
    overflow-x: hidden

body 
    min-width: 320px
    overflow-x: hidden
    opacity: 1
    color: #000000
    line-height: 1.35
    font-family: "SB Sans Display", sans-serif
    font-weight: 400
    font-size: 18px
    letter-spacing: 0em
    position: relative
    background-color: #fff


section 
    padding: 20px 0 90px


h3 
    font-size: 28px
    font-weight: 600
    line-height: 1.4em


p 
    margin-bottom: 18px


.container 
    max-width: 1520px


.add-text 
    font-size: 14px
    color: rgba(0, 0, 0, 0.4)


.link 
    color: #00D36D
    position: relative


.link:hover 
    border-bottom: 1px solid #00D36D


.container 
    max-width: 1500px
    width: 100%
    margin: 0 auto
    padding: 0 30px


.navbar,
.menu,
.info-tablet,
.info-wrap,
.sales-offer__row,
.sales-partner__wrapper,
.footer-wrap,
.footer-block,
.footer-menu,
.footer-btns,
.socials 
    display: -webkit-box
    display: -ms-flexbox
    display: flex


.navbar 
    padding: 24px 0
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center


.info-wrap 
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center


.info-tablet,
.burger 
    display: none


.logo 
    width: 176px
    height: 50px
    background: url(~@/assets/img/logo.png) no-repeat center center/contain
    margin-right: 38px
    position: relative
    z-index: 22


.menu 
    max-width: 810px
    -ms-flex-wrap: wrap
    flex-wrap: wrap


.menu__item 
    margin-right: 23px
    line-height: 1.8em


.menu__item .active 
    position: relative


.menu__item .active:hover 
    border-bottom: 1px solid #000


.menu__item .active:before 
    content: ""
    display: block
    position: absolute
    width: 40px
    height: 40px
    border-radius: 50%
    background: #44D370
    left: 18px
    top: -9px
    z-index: -1


.search 
    width: 20px
    height: 20px
    background: url(~@/assets/img/loupe.svg) no-repeat center/contain
    margin-left: 12px
    cursor: pointer

.search-icon
    width: 14px
    height: 14px
    background: url(~@/assets/img/Frame.svg) no-repeat center/contain
    cursor: pointer
    position: absolute
    top: 14px
    left: 10px


.search-form 
    width: calc(100% - 60px)
    margin: 0 30px
    height: 48px
    padding: 2px
    position: absolute
    -webkit-transition: all .3s ease
    transition: all .3s ease
    right: 0
    top: 155px
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    visibility: hidden
    border: 2px solid #44D370
    border-radius: 8px
    z-index: 3


.search__list 
    z-index: 2
    top: 70px
    max-height: 80px
    overflow-y: auto
    scrollbar-color: #44D370 rgba(0, 0, 0, 0.08)
    scrollbar-width: thin


.search__list::-webkit-scrollbar 
    width: 4px


.search__list::-webkit-scrollbar-track 
    background-color: rgba(0, 0, 0, 0.08)
    border-radius: 2px


.search__list::-webkit-scrollbar-thumb 
    background: #44D370
    border-radius: 2px


.search__list li 
    line-height: 40px
    padding: 0 16px


.search__list li:hover,
.search__list li:active 
    color: #fff
    background: #44D370


.search__input 
    font-size: 14px
    border: none
    background: transparent
    width: 0%
    height: 100%
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease
    z-index: 3
    caret-color: #a3a3a9
    color: black
    font-family: "SB Sans Display", sans-serif !important


.search__input:focus::-webkit-input-placeholder 
    opacity: 1


.search__input:focus:-moz-placeholder 
    opacity: 1


.search__input:focus::-moz-placeholder 
    opacity: 1


.search__input:focus:-ms-input-placeholder 
    opacity: 1

.search__input::-webkit-input-placeholder 
    opacity: 1
    color: #a3a3a9


.search__input:-moz-placeholder 
    opacity: 1
    color: #a3a3a9


.search__input::-moz-placeholder 
    opacity: 1
    color: #a3a3a9


.search__input:-ms-input-placeholder 
    opacity: 1
    color: #a3a3a9


.search-form.isTurn 
    visibility: visible


.search-form.isTurn .search__input,
.sort-form .search__input 
    background-color: #fafbfb
    width: 100%
    padding-left: 27px
    -webkit-transition: all .3s 0.05s ease
    transition: all .3s 0.05s ease


.search.active 
    background: url(~@/assets/img/close.svg) no-repeat center/18px


.sort-form .search__input 
    border-bottom: 1px solid #E8E8E8
    background-color: #fff
    line-height: 40px
    height: 40px
    padding: 0 16px


.notification 
    width: 20px
    height: 20px
    background: url(~@/assets/img/notification.svg) no-repeat center/contain
    margin-left: 12px
    position: relative


.notification span 
    background: #44D370
    border: 1px solid #FFFFFF
    -webkit-box-sizing: border-box
    box-sizing: border-box
    border-radius: 10px
    border-radius: 50%
    position: absolute
    width: 13px
    height: 13px
    top: -2px
    right: -2px
    z-index: 2
    font-weight: 600
    font-size: 8px
    line-height: 11px
    color: #fff
    text-align: center


.info-wrap 
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    max-width: 250px


.favorites 
    background: url(~@/assets/img/heart.svg) no-repeat right center/20px


.bonuses,
.favorites 
    font-weight: 700
    font-size: 24px
    line-height: 1em
    padding-right: 22px
    margin-left: 12px


.bonuses 
    background: url(~@/assets/img/bonus-black.svg) no-repeat right center/18px


.info-wrap .city,
.mobile-menu .city 
    margin-top: 12px
    padding-left: 14px
    background: url(~@/assets/img/map-tip.svg) no-repeat left center/10px 13px


.city-wrap 
    cursor: pointer
    -webkit-transition: all .6s ease
    transition: all .6s ease
    position: relative


.city-list 
    min-width: 234px
    height: 120px
    background: #FFFFFF
    border-radius: 8px
    -webkit-animation: .4s linear forwards show
    animation: .4s linear forwards show
    position: absolute
    bottom: -134px
    right: -60px
    border-radius: 5px
    z-index: 2
    font-size: 16px
    background-color: #fff
    padding: 16px
    padding-left: 30px
    -webkit-filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))


.city-list_choice 
    padding: 0


.city-list.active 
    display: block


.city-list:before 
    content: ''
    display: block
    width: 0
    height: 0
    border-left: 12px solid transparent
    border-right: 12px solid transparent
    border-bottom: 12px solid #fff
    position: absolute
    top: -12px
    right: 60px
    -webkit-transform: translateX(-50%)


.city-list .city 
    font-size: 24px
    line-height: 1.5em
    margin-top: 0
    color: #000
    margin-left: -14px
    white-space: nowrap


.city-list__btns 
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: baseline
    -ms-flex-align: baseline
    align-items: baseline


.city-list__btn 
    background: #44D370
    border-radius: 4px
    line-height: 32px
    width: 64px
    text-align: center
    color: #fff
    font-size: 13px
    margin-right: 16px
    cursor: pointer


.city-list__choice 
    font-size: 14px
    line-height: 20px
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4)
    color: rgba(0, 0, 0, 0.4)
    cursor: pointer


.city-list__choice:hover 
    border-bottom: 1px dashed rgba(0, 0, 0, 1)
    color: rgba(0, 0, 0, 1)


.burger 
    background: url(~@/assets/img/hamburger.svg) no-repeat center/contain
    width: 28px
    height: 24px
    z-index: 222
    margin-left: 19px
    position: relative
    display: none


.burger.active 
    background: url(~@/assets/img/close.svg) no-repeat center/contain


.mobile-menu 
    background: #fff
    position: absolute
    width: 100%
    z-index: 13
    top: 0
    right: 0
    width: 0
    visibility: hidden
    opacity: 0
    overflow-y: auto
    -webkit-transition: width 0.1s cubic-bezier(.73, -0.44, .34, 1.43)
    transition: width 0.1s cubic-bezier(.73, -0.44, .34, 1.43)
    -webkit-transition: opacity 0.1s cubic-bezier(.73, -0.44, .16, 1.56)
    transition: opacity 0.1s cubic-bezier(.73, -0.44, .16, 1.56)
    padding: 100px 20px 40px


.mobile-menu.active 
    width: 100%
    visibility: visible
    opacity: 1
    -webkit-transition: opacity 1s cubic-bezier(.73, -0.44, .16, 1.56)
    transition: opacity 1s cubic-bezier(.73, -0.44, .16, 1.56)
    -webkit-filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))


.mobile-menu__wrap 
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-box-align: baseline
    -ms-flex-align: baseline
    align-items: baseline
    margin-bottom: 15px
    border-top: 1px solid #E5E5E5
    padding-top: 20px


.mobile-menu .menu 
    display: block


.mobile-menu .menu__item 
    line-height: 2em


.mobile-menu .menu__item .active:before 
    display: none


.sales-item 
    max-width: 800px
    margin: 0 auto


.sales-offer__center 
    text-align: center


.sales-offer .sales-link 
    margin-bottom: 30px
    text-align: center
    display: inline-block
    border-bottom: 1px solid rgba(126, 126, 126, 0.15)


.sales-offer .sales-link:hover 
    border-bottom: 1px solid rgba(126, 126, 126, 1)
    color: rgba(126, 126, 126, 1)


h2 
    text-align: center
    font-weight: 600
    font-size: 48px
    line-height: 1.15em


.sales-offer__title 
    background: #fff
    display: inline-block
    color: #000000
    max-width: 400px
    margin: 0 auto
    position: relative
    z-index: 2


.sales-offer__date 
    font-size: 18px
    margin-bottom: 16px


.sales-offer__pic 
    max-width: 100%
    height: 596px
    margin: 0 auto
    margin-top: -56px
    margin-bottom: 24px


.sales-offer__block 
    background: rgba(0, 0, 0, 0.03)
    border-radius: 5px
    padding: 20px 25px
    max-width: 800px
    margin: 25px 0 25px -25px


.sales-offer__percent 
    font-size: 32px
    line-height: 1.25em
    width: 13%


.sales-offer__row 
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    position: relative


.sales-offer__row:not(:last-of-type) 
    margin-bottom: 18px
    padding-bottom: 14px


.sales-offer__row:not(:last-of-type):after 
    content: ""
    bottom: 0
    position: absolute
    right: 0
    width: 87%
    height: 1px
    background: rgba(0, 0, 0, 0.1)


.sales-item p 
    max-width: 760px


.sales-partner 
    margin-top: 48px


.sales-partner__wrapper 
    margin-left: -95px
    margin-bottom: 18px


.sales-partner__logo 
    width: 70px
    height: 70px
    border-radius: 50%
    margin-right: 25px
    background-position: center center
    background-repeat: no-repeat
    background-size: contain


.sales-partner__map 
    margin-top: 48px
    max-width: 100%
    height: 120px
    position: relative
    background: url(~@/assets/img/Bitmap.jpg) no-repeat center/cover
    border-radius: 5px


.sales-partner__adress-link 
    position: absolute
    z-index: 222
    color: #00D36D
    text-align: center
    padding: 7px 18px
    background: #FFFFFF
    border-radius: 19px
    font-weight: 700
    left: 50%
    top: 50%
    -webkit-transform: translateY(-50%) translateX(-50%)
    transform: translateY(-50%) translateX(-50%)


footer 
    padding: 30px 0 37px


.footer-wrap:first-of-type 
    margin-bottom: 48px


.footer-phone span 
    display: block
    font-weight: 600
    padding-left: 27px
    font-size: 28px
    background: url(~@/assets/img/phone.svg) no-repeat left 12px/18px


.footer-phone 
    font-size: 14px


.footer-wrap 
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between


.footer-block 
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    max-width: 1120px
    width: 100%
    -webkit-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between


.footer-menu 
    margin-bottom: 62px


.footer-menu li 
    margin-right: 18px


.footer-btn 
    margin-right: 24px
    width: 160px
    height: 50px
    display: block


.footer-btn_app 
    background: url(~@/assets/img/appstore-btn.svg) no-repeat center center/contain


.footer-btn_google 
    background: url(~@/assets/img/googleplay-btn.svg) no-repeat center center/contain


.footer-btn_huawei 
    background: url(~@/assets/img/huawei-btn.svg) no-repeat center center/contain


.socials__link 
    margin-left: 16px
    width: 46px
    height: 46px
    display: block
    border-radius: 50%


.socials__link_ok 
    background: url(~@/assets/img/OK.svg) no-repeat center center/contain


.socials__link_facebook 
    background: url(~@/assets/img/fk.svg) no-repeat center center/contain


.socials__link_vk 
    background: url(~@/assets/img/vk.svg) no-repeat center center/contain


.socials__link_instagram 
    background: url(~@/assets/img/instagram.svg) no-repeat center center/contain


.policy 
    max-width: 485px


.policy a 
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)


.policy a:hover 
    color: #000
    border-bottom: 1px solid #000


footer .design 
    padding-left: 115px
    max-width: 325px
    background: url(~@/assets/img/ALS_logo@2x.png) no-repeat left top/100px 45px
    min-height: 45px


input:-webkit-autofill 
    background-color: transparent !important


a:active,
a:focus 
    outline: 0
    -webkit-tap-highlight-color: transparent
    -webkit-tap-highlight-color: transparent


@-webkit-keyframes autofill 
    to 
        color: gray
        background: transparent
    


input:-webkit-autofill 
    -webkit-animation-name: autofill
    -webkit-animation-fill-mode: both


.map-modal 
    max-width: 1242px
    position: relative
    width: 100%
    margin: auto
    height: 740px
    z-index: 222
    background: #fff
    -webkit-filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    border-radius: 8px
    overflow: hidden


.map-modal .map-close 
    position: absolute
    z-index: 222
    width: 32px
    height: 32px
    border-radius: 50%
    right: 16px
    top: 16px
    background: #fff url(~@/assets/img/close.svg) no-repeat center/15px
    -webkit-filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16))



.map-modal__scroll 
    margin: 24px 16px
    width: 32%
    padding-right: 16px
    overflow-y: auto
    overflow-x: hidden
    max-height: 740px
    scrollbar-color: #44D370 rgba(0, 0, 0, 0.08)
    scrollbar-width: thin


.map-modal__item 
    max-width: 100%
    min-height: 116px
    border-radius: 6px
    padding: 12px 16px
    position: relative
    padding-left: 50px
    -webkit-transition: all 0.3s ease
    transition: all 0.3s ease


.map-modal__item:hover,
.map-modal__item.active 
    background: #F4F4F4


.map-modal__item:before 
    content: ""
    display: block
    width: 22px
    height: 22px
    position: absolute
    left: 16px
    top: 12px
    background: #000
    -webkit-mask: url(~@/assets/img/map-point.svg) no-repeat center/contain
    mask: url(~@/assets/img/map-point.svg) no-repeat center/contain


.map-modal__item.active:before, .map-modal__item:hover:before
    -webkit-mask: url(~@/assets/img/map-tip-green.svg) no-repeat 100% 100%
    mask: url(~@/assets/img/map-tip-green.svg) no-repeat/contain
    background: #44D370



.map-modal__scroll::-webkit-scrollbar 
    width: 4px


.map-modal__scroll::-webkit-scrollbar-track 
    background-color: rgba(0, 0, 0, 0.08)
    border-radius: 2px


.map-modal__scroll::-webkit-scrollbar-thumb 
    background: #44D370
    border-radius: 2px


.map-modal__frame 
    // background: url(~@/assets/img/Bitmap.jpg) no-repeat center center/cover
    width: 68%


.popup 
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 222
    display: none


.popup.active 
    overflow-y: scroll
    margin: 40px 0
    display: block


.popup .overlay 
    display: block


.overlay 
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0
    z-index: 5
    background: rgba(0, 0, 0, 0.25)
    -webkit-backdrop-filter: blur(65px)
    backdrop-filter: blur(65px)
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    display: none
    -webkit-animation: .4s linear forwards show
    animation: .4s linear forwards show


.partners 
    background: #F2F4F7
    padding: 64px 0


.partners-tabs 
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    margin: 8px auto 40px
    max-width: 1000px
    text-align: center


.partners-tab 
    background: #FFFFFF
    border: 1px solid #E5E5E5
    padding: 11px 15px
    border-radius: 6px
    margin: 8px
    cursor: pointer
    -webkit-transition: all 0.4s ease
    transition: all 0.4s ease


.partners-tab:hover,
.partners-tab.active 
    background: #44D370
    border: 1px solid #44D370
    color: #fff


.partners-cards 
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center


.partners-card 
    width: calc(33.33% - 16px)
    max-width: 392px
    margin: 8px
    margin-bottom: 40px


.partners-card__pic 
    height: 294px
    max-width: 100%
    width: 100%
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    margin-bottom: 16px
    border-radius: 8px
    overflow: hidden


.partners-card__logo 
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    margin-right: 16px
    border-radius: 50%
    overflow: hidden
    width: 49px
    height: 49px
    -ms-flex-negative: 0
    flex-shrink: 0


.partners-card__content span 
    display: block


.partners-card__wrap 
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -webkit-box
    display: -ms-flexbox
    display: flex


.partners-more 
    padding: 11px 15px
    border-radius: 6px
    -webkit-transition: all 0.4s ease
    transition: all 0.4s ease
    background: #44D370
    border: 1px solid #44D370
    color: #fff
    text-align: center
    font-weight: 600
    font-size: 18px
    line-height: 1.35em
    margin: 0 auto
    display: block
    margin-top: 24px
    cursor: pointer

@media screen and (max-width:1440px) 
    .container 
        max-width: 1340px
    

    .footer-block 
        max-width: 1040px
    
@media screen and (max-width:1340px) 
    .info-wrap 
        max-width: 120px
    

    .bonuses 
        margin-top: 5px
    

    .footer-block 
        max-width: 82%
    
@media screen and (max-width:1220px) 
    .menu 
        max-width: 630px
    

    .footer-menu 
        -ms-flex-wrap: wrap
        flex-wrap: wrap
    

    .map-modal__scroll 
        width: 40%
    

    .map-modal__frame 
        width: 60%
    
@media screen and (max-width:1040px) 
    .policy 
        max-width: 335px
        margin-right: 15px
    

    .footer-menu 
        margin-bottom: 53px
    

    .footer-block 
        max-width: 70%
    

    .socials__link 
        margin-left: 0
        margin-right: 16px
    

    .footer-btn 
        margin-bottom: 24px
    
@media screen and (max-width:992px) 
    .container 
        max-width: 100%
        padding: 0 16px
    
    .search-icon
        display: block
        width: 20px
        height: 20px
        top: 12px
        right: 12px
        left: auto
    

    .navbar .menu 
        display: none
    

    .burger 
        display: block
    

    .info-tablet 
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: -webkit-box
        display: -ms-flexbox
        display: flex
    

    .info-wrap 
        max-width: none
        margin-left: auto
    

    .notification,
    .favorites,
    .bonuses 
        display: none
    

    #cityBtn 
        position: absolute
        top: 110px
        z-index: 33
        visibility: hidden
        opacity: 0
    
    .city-wrap
        position: absolute
        top: 80px
        left: calc(50% - 117px)
        right: 0

    .city-list
        right: auto

    .city-wrap.active 
        visibility: visible
        opacity: 1
        -webkit-transition: 0.5s ease
        transition: 0.5s ease
        -webkit-transition-delay: 0.3s
        transition-delay: 0.3s
    

    .search 
        width: 23px
        height: 23px
    

    .sales-partner__wrapper 
        margin-left: 0
    

    .navbar 
        padding: 18px 0
    

    header 
        border-bottom: 1px solid #E5E5E5
    

    .info-tablet 
        font-size: 14px
    

    .info-tablet .city 
        padding-left: 18px
        background: url(~@/assets/img/geo.svg) no-repeat left top/14px
        margin-right: 22px
    

    .info-tablet .phone 
        background: url(~@/assets/img/telephone.svg) no-repeat left top/9px 14px
        padding-left: 18px
    

    footer .design 
        padding-left: 0
        max-width: 185px
        padding-top: 60px
        background-position: left top
    

    .search-form 
        width: calc(100% - 30px)
        margin: 0 15px
        top: 130px
    

    .partners-card 
        width: calc(50% - 16px)
    
@media screen and (max-width:880px) 

    .footer-wrap:first-of-type 
        margin-bottom: 32px
    

    .footer-block 
        max-width: 75%
    

    .footer-btn 
        margin-right: 15px
    
@media screen and (max-width:769px) 
    .logo 
        width: 111px
        height: 32px
        margin-right: 67px
    

    .sales-offer__pic 
        height: 550px
    

    .sales-offer__date,
    .sales-item p,
    .sales-partner 
        max-width: 615px
        margin-left: auto
        margin-right: auto
    

    .sales-offer__block 
        padding: 20px 17px
        max-width: 650px
        margin: 25px auto
    

    .search-form 
        top: 105px
    

    .partners-tabs 
        margin-bottom: 20px
        margin-top: 24px
    

    .section-title_partners 
        font-size: 32px
        font-weight: 700
    

    .partners-tab 
        margin: 4px
    

    .partners-card__pic 
        height: 267px
    

    .partners-card 
        margin-bottom: 56px
    
@media screen and (max-width:740px) 

    .footer-btns 
        -ms-flex-wrap: wrap
        flex-wrap: wrap
    

    footer .design 
        margin: 24px 0
    

    .mobile-menu 
        padding-top: 70px
    

    .city-wrap 
        top: 80px
    
@media screen and (max-width:600px) 
    body 
        font-size: 16px
    

    .footer-block 
        max-width: 100%
        /* width: 100% */
    

    .footer-wrap 
        -ms-flex-wrap: wrap
        flex-wrap: wrap
    

    .footer-wrap,
    .footer-block 
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
    

    footer .design 
        -webkit-box-ordinal-group: 2
        -ms-flex-order: 1
        order: 1
        max-width: 100%
        text-align: center
        background-position: center top
    

    .copyright br 
        display: none
    

    .policy 
        -webkit-box-ordinal-group: 3
        -ms-flex-order: 2
        order: 2
        text-align: center
        margin-right: 0
    

    section 
        padding-bottom: 65px
    

    .footer-menu 
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        text-align: center
        -webkit-box-ordinal-group: 4
        -ms-flex-order: 3
        order: 3
        margin: 24px 0
    

    .footer-btns 
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        -webkit-box-ordinal-group: 5
        -ms-flex-order: 4
        order: 4
    

    .footer-wrap:first-of-type 
        margin-bottom: 16px
    

    .footer-btn 
        margin-bottom: 16px
        margin-right: 0
    

    .footer-menu li 
        margin: 0 18px
    

    .footer-phone 
        margin-bottom: 24px
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-orient: vertical
        -webkit-box-direction: reverse
        -ms-flex-direction: column-reverse
        flex-direction: column-reverse
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
    

    .socials__link 
        margin: 0 8px
    

    .sales-partner__map 
        margin-top: 24px
    

    h3 
        font-size: 24px
    

    .sales-partner__logo 
        width: 52px
        height: 52px
        margin-right: 16px
    

    .sales-partner__wrapper 
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        margin-bottom: 24px
    

    .sales-partner 
        margin-top: 32px
    

    .sales-offer__row 
        -webkit-box-orient: vertical
        -webkit-box-direction: normal
        -ms-flex-direction: column
        flex-direction: column
        -webkit-box-align: start
        -ms-flex-align: start
        align-items: flex-start
    

    .sales-offer__row:not(:last-of-type) 
        margin-bottom: 16px
        padding-bottom: 16px
    

    .sales-offer__row:not(:last-of-type):after 
        width: 100%
    

    .sales-offer__block 
        padding: 16px
    

    .sales-offer__date 
        font-size: 14px
        margin-bottom: 8px
    

    .info-tablet 
        display: none
    

    h2 
        font-size: 30px
    

    .sales-offer__pic 
        height: 350px
        margin-top: 20px
    

    .sales-offer .sales-link 
        margin-bottom: 12px
    

    .map-modal 
        height: 640px
        display: block
    

    .map-modal__frame 
        width: 100%
        height: 100%
    

    .map-modal__scroll 
        position: absolute
        bottom: 15px
        margin: 24px 16px
        padding-right: 0
        overflow-y: hidden
        overflow-x: auto
        max-height: none
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        padding-bottom: 16px
        width: calc(100% - 32px)
        z-index: 10

    .map-modal__scroll::-webkit-scrollbar 
        /*    width: 4px*/
        height: 4px

    .map-modal__item 
        -ms-flex-negative: 0
        flex-shrink: 0
        margin-right: 16px
        width: 250px

    .map-modal__item.active,
    .map-modal__item:hover 
        background: #fff

    .map-modal__item 
        background: #F4F4F4

    .search-form 
        top: 90px
    

    .partners-card 
        width: calc(100% - 16px)
    

    .partners-tabs 
        -ms-flex-wrap: nowrap
        flex-wrap: nowrap
        overflow-x: auto
        margin: 12px 0 36px
        -webkit-box-pack: start
        -ms-flex-pack: start
        justify-content: flex-start
    

    .partners-tab 
        -ms-flex-negative: 0
        flex-shrink: 0
    


@media screen and (max-width:430px) 
    .sales-offer__pic 
        height: 300px
        margin-top: 12px
    

    .burger,
    .search 
        width: 18px
        height: 18px
        margin-left: 12px
    

    .bonuses 
        display: block
        position: absolute
        left: 0
        font-size: 14px
        padding-right: 14px
        background-size: 11px
        margin-top: 0
        margin-left: 15px
    

    .notification 
        display: block
    

    .logo 
        -webkit-transform: translateX(-50%)
        transform: translateX(-50%)
        left: 50%
        position: relative
        margin: 0
        width: 88px
        height: 24px
    

    .mobile-menu 
        padding-top: 60px
    

    .city-wrap 
        top: 70px
    

    .city-list .city 
        font-size: 18px
        line-height: 2em
    

    .partners-card__logo 
        width: 44px
        height: 44px
    

    .partners-card 
        margin-bottom: 40px
    

    .partners-card__pic 
        height: 230px
    
    
    .partners-more 
        margin-top: 0
    
@media screen and (max-width:380px) 
    .sales-offer__pic 
        height: 230px
    
@media (-webkit-min-device-pixel-ratio:2) and (min-resolution:192dpi)
