<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>Программа СБерСпасибо</title>
    <script src="https://api-maps.yandex.ru/2.1?apikey=a4e2a2de-5803-4185-93ba-01e21414fec1&lang=ru_RU&coordorder=latlong"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
