<template>
    <div>
        <Header @search="getListByName($event)"/>
        <section class="partners" id="partners" v-if="partnersList">
            <div class="container">
                <h2 class="section-title_partners" v-if="fullCount">{{fullCount}} {{ this.getPluralString(["предложение", "предложения", "предложений"], fullCount) }} от партнёров
                </h2>
                <div class="partners-tabs" v-if="filters.data">
                    <div class="partners-tab"
                        @click="filtersData = null; getList(); activeFilter=-1;"
                        :class="{active: activeFilter == -1}"
                    >
                        Все партнеры
                    </div>
                    <div class="partners-tab"
                        :class="{active: activeFilter == filter.id}"
                        v-for="(filter, i) in restrictedData(filterCount)"
                        :key="filter.id + i"
                        @click="filtersData = null; getList(0,0, filter.id);"
                    >
                        {{filter.name}}
                    </div>
                    <div class="partners-tab"
                        v-if="filters.data.length > 5 && filterCount > 0"
                        @click="filterCount = -1;"
                    >
                        •••
                    </div>
                </div>
                <div class="partners-cards">
                    <router-link 
                        :to="{ name: 'Partner', params: { id: partner.id }  }"
                        class="partners-card"
                        v-for="partner in partnersList.data"
                        :key="partner.id"
                    >
                        <div class="partners-card__pic" :style="`background-image: url(${partner.image})`"></div>
                        <div class="partners-card__wrap" v-if="partner.partner">
                            <div class="partners-card__logo" :style="`background-image: url(${partner.partner.logo})`"></div>
                            <div class="partners-card__content">
                                <span class="add-text">{{partner.partner.name}}</span>
                                {{partner.name}}
                            </div>
                        </div>
                    </router-link>
                </div>
                <button @click="getOtherList()" class="partners-more btn" id="partners-more" v-if="fullCount - partnersList.count > 0">
                    Ещё {{fullCount - partnersList.count}} {{ this.getPluralString(["предложение", "предложения", "предложений"], (fullCount - partnersList.count)) }}
                </button>
            </div>
        </section>
        <div v-else class="loader-spinner">
            <FadeLoader color="#25cf77" />
        </div>
        <Footer/>
    </div>
</template>

<script>
import dataStub from '@/stubs/all_promotions'
import sectionsStub from '@/stubs/sections'

export default {
    props: {
        searchString: String
    },
    name: 'AllPartners',
    data() {
        return {
            partnersList: null,
            fullCount: null,
            pageNum: 0,
            filters: null,
            filterCount: 8,
            activeFilter: -1,
            actualCity: null
        }
    },
    mounted() {
        this.getFilters()
        if (this.searchString) {
            this.getListByName()
        } else {
            this.getList(9, this.pageNum)
        }
    },
    methods: {
        restrictedData() {
            if (this.filterCount) {
                return this.filters.data.slice(0, this.filterCount);  
            } else {
                return this.filters.data
            }
        },
        getFilters() {
            if (this.$mocking) {
                this.filters = sectionsStub
                return
            }
            this.$api
                .get(`/api/stock/getSectionList${this.$store.state.city ? '?cityCode=' + this.$store.state.city : ''}`)
                .then(response => {
                    this.filters = response.data
                })
                .catch(e => {
                    console.log(e)
                });
        },
        getList(pageSize, pageNum, sectionId) {
            if (this.$mocking) {
                this.partnersList = dataStub
                this.fullCount = dataStub.totalCount
                return
            }
            if (!pageSize) pageSize = 9;
            if (!pageNum) pageNum = 0;
            if (sectionId) {
                this.activeFilter = sectionId;
                this.$api
                    .get(`/api/stock/getList?sectionId=${sectionId}${this.$store.state.city ? '&cityCode=' + this.$store.state.city : ''}`)
                    .then(response => {
                        this.partnersList = response.data
                        this.fullCount = response.data.totalCount
                    })
                    .catch(e => {
                        console.log(e)
                    });              
            } else {
                this.$api
                    .get(`/api/stock/getList?pageSize=${pageSize}&pageNum=${pageNum}${this.$store.state.city ? '&cityCode=' + this.$store.state.city : ''}`)
                    .then(response => {
                        this.partnersList = response.data
                        this.fullCount = response.data.totalCount
                    })
                    .catch(e => {
                        console.log(e)
                    });
            }
        },
        getListByName() {
            if (this.$mocking) {
                this.partnersList = dataStub
                this.fullCount = dataStub.totalCount
                return
            }
            this.$api
                .get(`/api/stock/getList?name=${this.searchString}${this.$store.state.city ? '&cityCode=' + this.$store.state.city : ''}`)
                .then(response => {
                    this.partnersList = response.data
                    this.fullCount = response.data.totalCount
                })
                .catch(e => {
                    console.log(e)
                }); 
        },
        getOtherList() {
            this.pageNum += 1;
            this.getList(9, this.pageNum)
        },
        getPluralString(arr, count) {
            // arr[один, два, много]
            if ((count % 10 >= 5 && count % 10 <= 9) || (count % 100 >= 11 && count % 100 <= 15) || count == 0) {
                return arr[2]
            } else if(count % 10 >= 2 && count % 10 <= 4) {
                return arr[1]
            } else {
                return arr[0]
            }
        }
    }
}
</script>

<style lang="sass" scoped>
.partners-card
    cursor: pointer
    &__pic
        background-image: url('~@/assets/img/partners/partnerpic1.jpg')
    &__logo
        background-image: url('~@/assets/img/partners/VISA.png')
</style>