<template>
    <div>
        <Header/>
        <section v-if="data" class="sales" id="sales">
            <div class="container">
                <div class="sales-item">
                    <div class="sales-offer">
                        <div class="sales-offer__center">
                            <router-link :to="{ path: '/' }" class="sales-link add-text">Партнёры и предложения</router-link><br>
                            <h2 class="sales-offer__title">
                                <span v-if="!freeMarkup || ( freeMarkup && data.show_name )" v-text="data.name" />
                            </h2>
                            <div v-if="!freeMarkup && data.image" class="sales-offer__pic">
                                <svg x="0px" y="0px" viewBox="0 0 798.6 595.4" xml:space="preserve" width="100%" height="100%">
                                    <pattern id="pattern" width="100%" height="100%">
                                        <image :xlink:href="data.image" width="100%" height="100%" preserveAspectRatio="xMidYMin slice"></image>
                                    </pattern>
                                    <path fill="url(#pattern)" d="M750.6,571.9c-0.7,8.5-1.1,12.7-3,15.9c-1.7,2.8-4.2,5-7.1,6.3c-3.4,1.5-7.6,1.4-16.1,1.1L58.9,575.7
                                    c-8.2-0.2-12.3-0.4-15.5-2c-2.8-1.4-5.2-3.7-6.7-6.5c-1.8-3.1-2-7.2-2.6-15.4L0.5,44.9C-0.1,35.6-0.4,31,1.2,27.4
                                    C2.6,24.2,5,21.6,8,19.9c3.5-1.9,8.1-2,17.4-2.2L771.8,0.1c9.9-0.2,14.8-0.3,18.5,1.6c3.2,1.7,5.8,4.4,7.2,7.7
                                    c1.7,3.8,1.2,8.7,0.4,18.6L750.6,571.9z" />
                                </svg>
                            </div>
                        </div>
                        <div class="sales-offer__date add-text" v-if="data.dateFrom && data.dateTo">{{timeToString(data.dateFrom, data.dateTo)}}</div>
                        <span v-if="!freeMarkup" v-html="data.detailText" />
<!--                         <div class="sales-offer__block">
                            <div class="sales-offer__row">
                                <span class="sales-offer__percent">21%</span>
                                <div class="sales-offer__text">бонусов при оплате Молодежными картами Сбербанка;</div>
                            </div>
                            <div class="sales-offer__row">
                                <span class="sales-offer__percent">16%</span>
                                <div class="sales-offer__text">бонусов при оплате другими картами Сбербанка.</div>
                            </div>
                        </div>
 -->
                        <span v-else-if="!data.max_width" v-html="data.html.web" />
                    </div>
                </div>
            </div>

            <span v-if="freeMarkup && data.max_width" v-html="data.html.web" />

            <div class="container">
                <div class="sales-item">
                    <div class="sales-offer">
                        <p v-for="(link, i) in data.files" :key="i">
                            <a class="sales-offer__link link" target="_blank" rel="nofollow" :href="link.path">
                                {{ link.name.length > 0 ? link.name : 'Правила акции' }}
                            </a>
                        </p>
                    </div>
                    <div class="sales-partner" v-if="data.partner">
                        <div class="sales-partner__wrapper">
                            <div class="sales-partner__logo" :style="`background-image: url(${data.partner.logo})`"></div>
                            <div class="sales-partner__wrap">
                                <h3 class="sales-partner__title">{{ data.partner.name }}</h3>
                                <a
                                    v-if="data.partner.site"
                                    :href="makeLink(data.partner.site)"
                                    class="sales-partner__link link"
                                    target="_blank"
                                    rel="nofollow"
                                >{{ data.partner.site }}</a>
                            </div>
                        </div>
                        <span v-if="data.partner.description" v-html="data.partner.description" />
                        <div class="sales-partner__map" v-if="data.partner.displayMap">
                            <div
                                id="map-call"
                                class="sales-partner__adress-link button"
                                @click="popupVisible = true"
                            >{{ data.partner.partnerLocation.length }} {{ this.getPluralString(["адрес", "адреса", "адресов"], data.partner.partnerLocation.length) }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup active" id="map-modal" v-if="popupVisible">
                <div class="overlay" id="overlay" @click="popupVisible = false"></div>
                <div class="map-modal">
                    <div class="map-close" id="map-close" @click="popupVisible = false"></div>
                    <div class="map-modal__scroll" v-if="Object.keys(mapSidebarItems).length">
                        <template v-for="(item, id) in mapSidebarItems">
                            <div
                                v-if="mapObjectsShown.includes(id)"
                                :key="id"
                                class="map-modal__item"
                                :class="{ active: activePoint === id }"
                                @click="activePoint = id; map.toPoint(id)"
                            >
                                <div class="map-modal__adress">{{item.address}}</div>
                                <span class="add-text">
                                <span v-for="(time, i) in item.workingHours" :key="i">{{time.DAY}}: {{time.TIME}}<br></span>
                                <span v-for="(phone, i) in item.phoneNumber" :key="-i-1">{{ phone }}<br></span>
                            </span>
                            </div>
                        </template>
                    </div>
                    <div class="map-modal__frame">
                        <YaMap
                           v-if="mapObjects"
                           :objects="mapObjects"
                           :options="{ center: mapCenter, zoom: 17 }"
                           @init="setMap"
                           style="width: 100%; height: 100%"
                        />
                    </div>
                </div>
            </div>
        </section>
        <div v-else class="loader-spinner">
            <FadeLoader :loading="viewLoader" color="#25cf77" />
        </div>
        <Footer/>
    </div>
</template>

<script>
import stub from '@/stubs/promotion'
import YaMap from "@/app/utility/YaMap"

export default {
    name: 'Partner',
    components: { YaMap },
    data() {
        return {
            data: null,
            popupVisible: false,
            freeMarkup: false,
            viewLoader: false,
            mapCenter: [],
            map: null,
            mapObjects: null,
            mapObjectsShown: [],
            mapSidebarItems: {},
            activePoint: null
        }
    },
    async mounted() {
        await this.fetchApi()
        this.loadMapObjects()
        let object = this.mapObjects[Object.keys(this.mapObjects)[0]]
        this.mapCenter = [object.lat, object.lon]
    },
    methods: {
        async fetchApi() {
            if (this.$mocking) {
                this.data = stub.data
                // this.mapCenter = [56.86542, 60.63042]
                return
            }

            setTimeout(() => {
                if (!this.data) {
                    this.viewLoader = true
                }
            }, 1000)

            await this.$api
                .get(`/api/stock/get?id=${this.$route.params.id}`)
                .then(response => {
                    this.freeMarkup = response.data.data.typeMarkup === 'FREE'
                    this.data = response.data.data
                    this.viewLoader = false
                    console.log('data:', this.data)
                })
                .catch(e => {
                    console.log(e)
                });
        },
        timeConverter(unixDate){
            let a = new Date(unixDate * 1000)
            let months = ['января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря']
            let year = a.getFullYear()
            let month = months[a.getMonth()]
            let date = a.getDate()
            return { date, month, year }
        },
        timeToString(from, to) {
            from = this.timeConverter(from)
            to = this.timeConverter(to)

            if (from.year !== to.year) {
                return `c ${from.date} ${from.month} ${from.year} по ${to.date} ${to.month} ${to.year}`
            } else if (from.months !== to.months) {
                return `c ${from.date} ${from.month} по ${to.date} ${to.month}`
            }
            return `c ${from.date} по ${to.date} ${to.month}`
        },
        getPluralString(arr, count) {
            // arr[один, два, много]
            if ((count % 10 >= 5 && count % 10 <= 9) || (count % 100 >= 11 && count % 100 <= 15) || count == 0) {
                return arr[2]
            } else if(count % 10 >= 2 && count % 10 <= 4) {
                return arr[1]
            } else {
                return arr[0]
            }
        },
        setMap(map) {
            this.map = map

            const toggleShownPoint = () => {
                setTimeout(() => 
                    Object.keys(this.map.mapObjects).forEach(id => {
                        if (!this.map.isPointInViewport(id))
                            return this.mapObjectsShown = this.mapObjectsShown.filter(item => item !== id)
                        this.mapObjectsShown.push(id)
                    }), 500
                )
            }
            toggleShownPoint()
            this.map.map.events.add('actiontick', toggleShownPoint)
        },
        loadMapObjects() {
            const objects = {}
            console.log(this.data.partner)
            if (this.data.partner.partnerLocation && this.data.partner.partnerLocation.length) {
                this.data.partner.partnerLocation.forEach(data => {
                    let coordinates = data.coordinates
                    // let id = coordinates.lat + coordinates.lon
                    let id = this.$uuid.v4()
                    this.mapSidebarItems = Object.assign(this.mapSidebarItems, { [id]: data })
                    objects[id] = { lat: +coordinates.lat, lon: +coordinates.lon }
                    objects[id].iconImageHref = data.logo ? data.logo : require('@/assets/img/map-tip-green.svg')
                    objects[id].hideIconOnBalloonOpen = false
                    objects[id].balloonContent = {
                        balloonContentHeader: this.data.partner.name,
                        balloonContentBody: data.address,
                        balloonContentFooter: [...data.workingHours.map(wh => (`${wh.DAY}: ${wh.TIME}`)), ...data.phoneNumber].join('<br>'),
                    }
                })
            }
            
            this.mapObjects = objects
        },
        makeLink(link) {
            return link.startsWith('http') ? link : `http://${link}`
        }
    }
}
</script>
