<template>
	<router-view :key="$route.fullPath" />
</template>

<script>
export default {
	name: 'App',
	created() {
        this.$store.commit('init')
    }
}
</script>

<style lang="sass">
@import './styles/main.sass'

body
    margin: 0 auto
.button
    cursor: pointer

.loader-spinner
    display: flex
    justify-content: space-around
    min-height: 50vh
    align-items: center
</style>
