<template>
  <div>
      <Header />
      <div class="not-found">
        <div class="not-found--img"></div>
        <div class="not-found--img-numb"></div>
        <div class="not-found--text">Что-то пошло не так</div>
        <button class="not-found--btn btn">К списку акций</button>

      </div>
      <Footer />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="sass" scoped>
.not-found
  background: #E5E5E5
  height: 100vh-32vh
  padding: 14vh 0
.not-found--img
  background: url(~@/assets/img/toy_man.svg) no-repeat
  padding-left: 18px
  width: 78px
  height: 128px
  margin: 0 auto
.not-found--img-numb
  background: url(~@/assets/img/404.svg) no-repeat
  padding-left: 18px
  width: 242px
  height: 96px
  margin: 5vh auto 2vh
.not-found--text
  text-align: center
.not-found--btn
    padding: 11px 15px
    border-radius: 6px
    -webkit-transition: all 0.4s ease
    transition: all 0.4s ease
    background: #44D370
    border: 1px solid #44D370
    color: #fff
    text-align: center
    font-weight: 400
    font-size: 18px
    line-height: 1.35em
    margin: 0 auto
    display: block
    cursor: pointer
    margin-top: 5vh 

@media screen and (max-width:1440px)
  .not-found
    height: 100vh-42vh
    padding: 9vh 0
  .not-found--img-numb
    margin: 3vh auto 2vh
  .not-found--btn
      margin-top: 3vh 

@media screen and (max-width:1200px)
  .not-found
    height: 100vh-42vh
    padding: 6vh 0
@media screen and (max-width:480px)
  .not-found
    height: 100vh-40vh
    padding: 6vh 0

</style>
