<template>
    <footer>
        <div class="container">
                <div class="footer-wrap">
                        <div class="footer-phone">
                                <a :href="!$mocking ? 'tel:900' : '#'">
                                        <span>900</span>
                                        По России бесплатно
                                </a>
                        </div>
                        <div class="footer-block footer-block_contacts">
                                <ul class="footer-menu">
                                        <li>Правила программы</li>
                                        <li>Обратная связь</li>
                                        <li>Стать партнером</li>
                                        <li>Архив акций</li>
                                        <li>Новости</li>
                                        <li>Вопросы и ответы</li>
                                </ul>
                                <div class="footer-btns">
                                        <div class="footer-btn footer-btn_app"></div>
                                        <div class="footer-btn footer-btn_google"></div>
                                        <div class="footer-btn footer-btn_huawei"></div>
                                </div>
                                <div class="socials">
                                        <a href="https://www.instagram.com/spasibosb/" class="socials__link socials__link_instagram" target="_blank" rel="nofollow"></a>
                                        <a href="https://vk.com/spasibosb" class="socials__link socials__link_vk" target="_blank" rel="nofollow"></a>
                                        <a href="https://www.facebook.com/spasibosb" class="socials__link socials__link_facebook" target="_blank" rel="nofollow"></a>
                                        <a href="https://ok.ru/spasibosb" class="socials__link socials__link_ok" target="_blank" rel="nofollow"></a>
                                </div>
                        </div>
                </div>
                <div class="footer-wrap">
                        <div class="copyright add-text">© 1997—2021<br> ПАО Сбербанк</div>
                        <div class="footer-block footer-block_info">
                                <div class="policy add-text"><a href="/docs/policy.pdf" target="_blank" rel="nofollow">Политика</a> АО «ЦПЛ» в отношении обработки персональных данных и <a href="/docs/agreement.pdf" target="_blank" rel="nofollow">Согласие</a> на обработку данных участника Программы «СберСпасибо»</div>
                                <div class="design add-text">
                                        Задизайнено<br>
                                        в Студии Артемия Лебедева
                                </div>
                        </div>
                </div>
        </div>
    </footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>