<template>
    <header>
        <div class="container">
			<div class="navbar">
				<div class="logo"></div>
				<ul class="menu">
					<li class="menu__item">Купоны</li>
					<li class="menu__item">Впечатления</li>
					<li class="menu__item">Авиабилеты</li>
					<li class="menu__item">Ж/д билеты</li>
					<li class="menu__item">Отели</li>
					<li class="menu__item"><router-link :to="{ path: '/' }" class="active">Партнёры и предложения</router-link></li>
					<li class="menu__item">Мобильное приложение</li>
					<li class="menu__item">О программе</li>
				</ul>
				<div class="info-tablet">
					<div
						v-if="$store.state.city"
						class="city"
						@click="toggleCity"
					>{{ $store.state.city }}</div>
					<div class="phone">
						<a :href="!$mocking ? 'tel:900' : '#'">
								900 — по России бесплатно
						</a>
					</div>
				</div>
				<div class="info-wrap">
					<div class="search" :class="{ active: activeSearch }" id="searchControl" @click="toggleSearch"></div>
					<div class="notification"><span>2</span></div>
					<div class="favorites">2</div>
					<div class="bonuses">23 555</div>
					<div class="burger" id="burger" :class="{active: activeMenu}" @click="toggleMenu"></div>
					<div v-if="$store.state.city" class="city-wrap" id="cityWrap">
						<div @click="toggleCity" class="city add-text" id="cityBtn">{{ $store.state.city }}</div>
						<div ref="toggle" v-if="cityChoice" class="city-list city-list_choice active" id="citychoiceList">
							<div class="sort-form" title="Выберите город" v-click-outside="() => cityChoice = false">
								<input @input="searchCity" v-model="inputCity" type="text" placeholder="Выберите город" class="search__input" name="search">
								<div class="search__list" style="display: block;">
									<ul>
										<li style=""
											v-for="city in cityResults"
											:key="city.code"
											@click="selectCity(city.name)"
										>
											{{city.name}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div v-if="cityMenu" class="city-list city-list_agree" id="cityagreeList" v-click-outside="() => { cityMenu = false }">
							<div class="add-text">Ваш город</div>
							<div class="city add-text" id="city">{{ $store.state.city }}</div>
							<div class="city-list__btns">
								<div @click="closePopups" class="city-list__btn" id="cityagreeBtn">Да</div>
								<div @click="showCityChoice" class="city-list__choice" id="citychoiceBtn">Нет, изменить</div>
							</div>
						</div>
					</div>
				</div>
				<div v-if="activeSearch" id="search" class="search-form" :class="{ isTurn: activeSearch }" v-click-outside="closeSearch">
					<input
						placeholder="Поиск..."
						v-model="searchText"
						class="search__input"
						value=""
						name="search"
						@keydown.enter="search"
				>
			<div class="search-icon" @click="search"></div>
					</div>
			</div>
        </div>
        <transition name="fade">
            <div v-if="activeMenu" class="mobile-menu" id="mobile-menu" :class="{active: activeMenu}" v-click-outside="closeMenu">
                    <div class="mobile-menu__wrap">
                            <div class="enter">Вход</div>
                    </div>
                    <ul class="menu">
                            <li class="menu__item">Купоны</li>
                            <li class="menu__item">Впечатления</li>
                            <li class="menu__item">Авиабилеты</li>
                            <li class="menu__item">Ж/д билеты</li>
                            <li class="menu__item">Отели</li>
                            <li class="menu__item"><router-link :to="{ path: '/' }" class="active">Партнёры и предложения</router-link></li>
                            <li class="menu__item">Мобильное приложение</li>
                            <li class="menu__item">О программе</li>
                    </ul>
            </div>
        </transition>
    </header>
</template>

<script>
export default {
    name: 'Header',
    data() {
        return {
            activeSearch: false,
            activeMenu: false,
            searchText: "",
            cityResults: null,
            cityMenu: false,
            cityChoice: false,
            inputCity: "",
            isShow: true,
        }
    },
    mounted() {
        if (!this.$store.state.city) {
            this.getCity()
        }
    },
    methods: {
        getCity() {
            this.$api
                .get(`/api/location/getList`)
                .then(response => {
                    this.$store.commit('setCity', response.data.data.foundCity.name)
                    this.cityMenu = true
                })
                .catch(e => {
                    console.log(e)
                });
        },
		selectCity(city) {
			this.closePopups()
			this.$store.commit('setCity', city)
		},
        closeSearch() {
            this.activeSearch = false
        },
        closeMenu() {
            this.activeMenu = false
        },
		showCityChoice() {
			this.closePopups()
			this.searchCity()
			this.cityChoice = !this.cityChoice
		},
		toggleSearch() {
			this.closePopups()
			this.activeSearch = !this.activeSearch
		},
		toggleMenu() {
			this.closePopups()
			this.activeMenu = !this.activeMenu
		},
        toggleCity() {
			this.closePopups()
            if (this.$mocking) {
                return
            }
            this.cityMenu = !this.cityMenu
        },
        searchCity() {
            this.$api
                .get(`/api/location/searchCity/?name=${this.inputCity}`)
                .then(response => {
					this.cityResults = response.data.data
                })
                .catch(e => {
                    console.log(e)
                })
        },
        closePopups() {
            this.cityMenu = false
            this.activeSearch = false
            this.activeMenu = false
            this.cityChoice = false
        },
        search() {
            if (!this.$mocking) {
                this.$router.push({ name: 'AllPartners', query: { search: this.searchText }})
            }
        }
    }
}
</script>

<style lang="sass" scoped>
.fade-enter-active, .fade-leave-active
   transition: opacity .5s
.fade-enter, .fade-leave-to 
   opacity: 0
</style>

